  <div>
    <b>Description:</b>
    {{Permit.Description}}
  </div>
  <div>
    <b>Permit date:</b>
    {{Permit.Date | date:'longDate'}}
  </div>
  <div>
    <b>Type:</b>
    {{Permit.Type}}
  </div>
  <div>
    <b>Subtype:</b>
    {{Permit.Subtype}}
  </div>
  <div>
    <b>Category:</b>
    {{Permit.Category}}
  </div>
  <div>
    <b>Class:</b>
    {{Permit.Class}}
  </div>
  <div>
    <b>Status:</b>
    {{Permit.Status}}
  </div>
  <div>
    <b>Address:</b>
    {{Permit.Address}}
  </div>
  <div>
    <b>Neighbourhood:</b>
    {{Permit.Neighbourhood}}
  </div>
  <div>
    <b>Zoning:</b>
    {{Permit.Zoning}}
  </div>
  <div>
    <b>Value:</b>
    {{Permit.Value}}
  </div>
